.mysvg {
 background-image: url(../assets/Rainbow-Vortex.svg);
   background-position: inherit;
 background-size: cover;
  background-repeat: repeat-y;
  width: 100%;
  min-height:880px;
  height: auto;

}