
<main role="main" >

  <section class="jumbotron text-center mysvg">

    <div class="container">
          <div class="row">
            <div class="col-4">
              <div class="spinner-grow text-warning" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="col-4">
              <h1 class="jumbotron-heading text-white">{{title}} </h1>
            </div>
            <div class="col-4">
                <div class="spinner-grow text-warning" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
            </div>
          </div>
      <p class="lead text-white">The classic poker dice game with 5 dice</p>
      <p class="lead text-warning"><i><a class="lead text-warning" href="https://www.guneet.co">Guneet</a></i></p>
      <br>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
         <app-dice></app-dice>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </section>
</main>