<div class="row" >
    <div class="col-12" >
        <button class="btn btn-warning" [hidden] = "isShow"  type="submit" (click)="submission()">Results</button>
       
    </div>

</div>
<div class="row">
    <div class="col-12 my-5">
      <h3 class="text-info">{{winplayer}}</h3> 
    </div>
    
</div>
