<form [formGroup]="playersForm" (ngSubmit)="totalPlayers(); playersForm.reset()" class="form-inline">
    <div class="col-12 my-2">

        <select class="custom-select" formControlName="players">
            <option selected>Number of players</option>
            <option *ngFor="let play of players">{{play}}</option>

        </select>

        <!-- <input type="tex" class="form-control" formControlName="players"> -->
        <button class="btn btn-info ml-3 my-2" *ngIf="dummy==0" type="submit">Start Game</button>
        <button class="btn btn-warning ml-3  my-2" *ngIf="dummy!=0" type="submit" (click)="resetForm()">Restart Game </button>
    </div>
</form>
<div class="row ">
    <div class="col-sm-3 my-4" *ngFor="let numBox of dummy; let i = index;">
        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
            <div class="card-header text-warning font-weight-normal"><h4>Player {{numBox}}</h4></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-2" *ngFor="let v of save['player_' + numBox]; let i = index; ">
                        <div class="dice">{{v}}</div>
                    </div>
                </div>

                <h5 class="card-title"></h5>
                <button class="btn btn-warning" type="submit" [id]="numBox" (click)="diceRoll(numBox)"
                    [disabled]="disabled" clicked=disabled;>
                    Roll Dice - Player {{numBox}}
                </button>

            </div>
        </div>
    </div>
</div>
<app-result></app-result>