.dice {
    width: 28px;
    float: left;
    background-color: lightcoral;
    border: 1px solid yellow;
    padding: 1px;
    font-size: 22px;
    text-align: center;
    margin: 0px;
    border-radius: 5px;
    height: 32px;
    width:28px;
}